.tamanio{
  font-size: 20px;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td  {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#customers tr:nth-child(even){
  background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    border: 1px solid #ddd;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #4CAF50;
    color: white;
}

div#d1{
  /*border: 1px solid black;*/
  margin: 0;
  border-collapse: collapse;
  padding: 13px;
}

tr#tabla1{
  text-align: left;
}

table#t02 tr:nth-child(even) {
    background-color: #f2f2f2;
}

table#t02 th {
    background-color: #4CAF50;
    color: white;
    font-family: monospace;
}
